.container {
    text-align: center;
}           
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between; /* Aligns items with equal space between them */
    margin-bottom: 150px;
}

.btn-container.left {
    justify-content: flex-start; /* Aligns items to the left */
    margin-left: 260px; /* Adjust this value to increase/decrease the space */
}

.btn-container.right {
    justify-content: flex-end; /* Aligns items to the right */
    margin-left: 260px; /* Adjust this value to increase/decrease the space */
}

.btn {
    display: block;
    width: 200px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    margin-bottom: 10px; /* Optional: Add spacing between buttons */
    padding: 10px; /* Optional: Add padding to buttons for better appearance */
    font-size: 16px; /* Optional: Adjust font size */
}   
/*.h1 {
    color: whitesmoke;
} 